html, body {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.wrapper {
  flex: 1 0 auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.footer {
  flex-shrink: 0;
}